@addTagHelper *, HelloMvc
<html>
    <body>
        <img src="images/ASP-NET-Banners-01.png" />
        @("Hello World")
        <reverse>hello</reverse>
        <markdown>
#Hello Decoded
            
From **markdown** in #aspnetcore
        </markdown>
    </body>
</html>